:root {
    --primary: #88e23b;
    --black: #262626;
    --white: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
    --bgpj: #272B33;
    --bgcard: #3C3E44;
  }

  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
    margin: 0;
  }
  img {
    max-width: 100%;
    height: auto;
  
  }
  [class*="contenedor"] {
    width: min(95%, 120rem);
    margin: 3rem auto 0 auto;
  }
  [class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 0;
    padding: 5rem 0;
  }

  .contenedor{
    text-align: center;
  }

  .screen{
    background-color: var(--bgpj);
    margin: 0 auto;
  }
  .live, .die{
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .live::before{
    content: '1';
    color: green;
    padding: 3px 8px;
    font-size: 8px;
    background: green;
    border-radius: 50%;
  }
  .die::before{
    content: '1';
    color: red;
    padding: 3px 8px;
    font-size: 8px;
    background: red;
    border-radius: 50%;
  }