.containerPagination{
    display: flex;
    justify-content: center;
}
.containerPagination .pagination{
    display: flex;
    width: 40%;
    justify-content: space-between;
    gap:10px
}
.containerPagination .pagination li{
    text-decoration: none;
    display: inline;
    background: #fff;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}
@media(max-width:767px){
    .containerPagination .pagination{
        width: 100%;
        justify-content: center;
        padding: 0px;
    }
    .containerPagination .pagination li{
        width: 40%;
    }
}

.paginationNextDisabled, .paginationPrevDisabled{
    filter: opacity(0.3);
    cursor: default!important;
}