.profile{
    border-radius: 8px;
    max-width: 650px;
    margin-bottom: 50px;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}


.profile .content{
    padding: 10px;
    background-color: #ebebebdd;
    margin:  0 auto 0px auto;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.profile .content img{
    border-radius: inherit;
    max-width: 280px;
    width: 15vw;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 40px;
    box-shadow: 5px 0px 8px #7878789d;
}
.profile .professional .title{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2rem;
}
.name{
    font-weight: 400;
    font-size: 32px;
    margin: 0px;
}
.profile .personal p{
    margin: 5px 0;
}
@media(max-width:767px){
    .profile .content{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .profile{
        width:100%
    }
    .profile .content img{
        margin:-100px 0 30px 0;
        width: 100%;
    }
}