.card{
    width: 20%;
}
@media(max-width:767px){
  .card{
     width: 45%; 
  }
}
.profile{
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
    background-color: #fff;
}
.profile figure{
    width: 100%;
    margin: 0px;
    height: 300px;
}
.profile figure img{
  height:100%;
 object-fit: cover;
 filter: blur(0);
 transition-property: filter;
 transition-duration: 500ms;
 
}
.profile .content{
    width:100%;
  height:100%;
  position:absolute;
  top:70%;
  z-index:2;
  transition:.3s ease-out;
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.82) 35%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(35%, rgba(0,0,0,0.82)), color-stop(76%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.82) 35%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.82) 35%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.82) 35%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.82) 35%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.profile:hover .content{
    top:30%;
    cursor:pointer;
  }
  .profile:hover img{
    filter: blur(2px);
    transition-duration: 500ms;
  }
  
  .profile .content h2{
    font-weight:700;
    color:#fff;
    font-size:24px;
    min-height:50px;
    padding:0 5px;
    width: 100%;
  }
  

  .profile .content p{
    color: #fff;
    text-align: center;
  }
  .profile .content a{
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
  }
